/* ==|======================
   Layout / Content Sections
   ========================= */

// These blocks are meant to be inside larger block such as {mypage}-section__content.
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1rem;

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: flex-start;
    padding: 3rem 1rem;
  }
}

.section--description,
.section--testimonies {
  color: $white;
}

.section--description {
  background-color: $grey;

  blockquote {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: italic;
  }
}

.section--testimonies {
  blockquote:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.section--testimonies {
  background-color: $darkgrey;
}

.section__title {
  br { display: none; }
  @include rms(2);
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  @include mq($from: tablet) {
    margin-bottom: initial;
    br { display: inline; }
  }
}

.section__content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: tablet) {
    padding: 3rem 0;
  }
}

.primary-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  body.book-selected & {
    background-image: linear-gradient($white, $lightgrey);
  }
}

