/* ==|====================
   Layout / Footer
   ======================= */

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  background-color: $black;
  color: $white;

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: flex-end;
  }

  .copyrights {
    font-family: $Gotham-M;
    margin-top: 1rem;

    @include mq($from: tablet) {
      margin-top: initial;
      margin-left: auto;
      br { display: none; }
    }
  }
}