/* ==|====================
   Layout / Footer
   ======================= */

.footer-main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: $black;
}

.footer-main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: $black;
  color: $white;

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
  }

  .footer-main__text {
    margin-top: 1rem;
    width: 100%;

    @include mq($from: tablet) {
      display: flex;
      align-items: baseline;
      height: 2rem;
      width: initial;
      margin-top: initial;
      margin-left: auto;
    }
  }

  .footer-main__text__item {

    &:not(:last-child) {
      margin-bottom: .3rem;

      @include mq($from: tablet) {
        margin-bottom: initial;
        margin-right: 1rem;
      }
    }

    @include mq($from: tablet) {
      display: inline-block;
      float: left;
    }
  }

  .contact {
    display: inline-block;
    padding-bottom: .1rem;
    height: 100%;
    font-size: .8rem;
    color: $white;
    &::after { 
      background-color: $white;
    }
  }

  .copyrights {
    font-family: $Time;
    font-size: .8rem;

    @include mq($from: tablet) {
      line-height: 2rem;
    }
  }
}