/* ==|====================
   Layout / Header
   ======================= */

.header-main {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  background-color: $white;
  // This z-index has to be .dropdown-menu z-index + 1
  z-index: $zIndex-headerMain;

  @include mq($from: tablet) {
    height: 7rem;
  }
}

.header-main__content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  color: $grey-t;
  @include transition();

  @include mq($from: tablet) {
    padding: 1rem 0;
  }
}

.header-main__nav {
  margin-left: auto;

  &--secondary {
    display: flex;
    width: 100%;
    height: 3rem;
    border-top: 2px solid $grey-t;
    border-bottom: 2px solid $grey-t;
    color: $grey-t;

    @include mq($from: 430px) {
      display: none;
    }
  }
}

.header-main__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 4rem;

  &--secondary {
    display: flex;
    height: 100%;
    width: 100%;
  }
}


.header-main__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;

  &:not(:last-child) {
    padding-right: 1rem;
  }

  .header-main__menu--secondary & {
    width: 50%;
    padding: initial;
  }
}

.header-main__menu__item--secondary {
  display: none;

  @include mq($from: 430px) {
    display: flex;
  }
}

.header-main__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  font-family: $Gotham-M;
  text-transform: lowercase;
  @include reset-link(inherit);
  
  &:hover {
    @include mq($from: 430px) {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $grey-t;
    display: block;
    transform: scaleX(0);
    transform-origin: left;
    @include transition;
    will-change: transform;
  }

  &--secondary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: $Gotham-M;
    text-transform: lowercase;
    @include reset-link(inherit);
    @include transition;

    &:not(:last-child) {
      border-right: 2px solid $grey;
    }

    &:hover,
    &:focus {
      background-color: $grey-t;
      color: $white;
    }
  }
}



