/* ==|====================
   Layout / Header
   ======================= */

.header-main {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  height: $header-h;
  overflow: hidden;
  background-color: $white;
  // This z-index has to be .dropdown-menu z-index + 1
  z-index: $zIndex-headerMain;

  body.book-selected.logo-onelined & {
    height: $header-h + $author-h;
  }

  @include mq($from: 560px) {
    body.book-selected.logo-onelined & {
      height: $header-h + $author-h - 1rem;
    }
  }

  @include mq($from: tablet) {
    body.book-selected.logo-onelined & {
      height: $header-h + .2rem;
    }
  }
}

.header-main__content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 0;
  color: $grey-t;
  @include transition();

  @include mq($from: tablet) {
    padding: 1rem 0;
  }
}

.header-main__nav {
  margin-left: auto;
  transform: translateY(-3px);

  &--secondary {
    position: fixed;
    top: $header-h;
    display: flex;
    width: 100%;
    height: $secondary-nav-h;
    border-top: 2px solid $grey-t;
    border-bottom: 2px solid $grey-t;
    color: $grey-t;
    z-index: $zIndex-headerMain;

    body.book-selected & {
      top: $header-h;
    }

    body.book-selected.logo-onelined & {
      top: $header-h + $author-h;
    }

    @include mq($from: 430px) {
      display: none;
    }
  }
}

.header-main__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 3rem;

  &--secondary {
    display: flex;
    height: 100%;
    width: 100%;
  }
}


.header-main__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;

  &:not(:last-child) {
    padding-right: 1rem;
  }

  .header-main__menu--secondary & {
    width: 50%;
    padding: initial;
  }
}

.header-main__menu__item--secondary {
  display: none;

  @include mq($from: 430px) {
    display: flex;
  }
}

.header-main__link {
  @extend %link;
  height: 100%;

  &::after {
    bottom: 25px;
  }
  
  &:hover {
    @include mq($from: 430px) {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &--secondary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $white;
    font-family: $Gotham-M;
    text-transform: lowercase;
    @include reset-link(inherit);
    @include transition;

    &:not(:last-child) {
      border-right: 2px solid $grey;
    }

    &::after {
      content: '';
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $grey-t;
      color: $white;
    }
  }
}

.header-main__link--cart {
  position: relative;
  @include transition;

  &.is-disabled {
    opacity: .6;
    background-color: transparent;
    padding: 0;
    color: $grey-t;
    pointer-events: none;

    &::after {
      display: none;
    }
  }
}



