/* ==|====================
   Components / Links
   ======================= */

%link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  font-family: $Gotham-M;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
  @include reset-link(inherit);
  
  &:hover::after {
    transform: scaleX(1);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $grey-t;
    display: block;
    transform: scaleX(0);
    transform-origin: left;
    @include transition;
    will-change: transform;
  }
}

a {
  @extend %link;
}

.link--icon {
  @extend %link;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}

.link--icon-rtl {
  @extend %link;
  display: flex;
  text-decoration: none;
}

