/* ==|====================
   Components / Logo
   ======================= */

.logo-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .header-main & {
    color: $grey-t;

    @include mq($from : 560px) {
      body.book-selected & .logo.onelined {
        font-family: $Gotham-M;
        br { display: none; }

        &::after {
          content: ' :';
          font-family: $Gotham-B;
          color: inherit;
        }
      }
    }
  }
  
  .footer-main & {
    color: $white;
  }
}

.logo {
  color: inherit;
  font-family: $Gotham-B;
  text-decoration: none;
  text-transform: uppercase;
}

.author {
  color: inherit;
  font-family: $Gotham-M;
  text-transform: uppercase;
  opacity: .7;
}

