// ----------------------
// == Colors
// ----------------------

// Graphic chart
$white: #fff;
$grey: #313237;
$grey-t: #535353;
$darkgrey: #18191C;
$black: #000106;
$blue: #029DE0;
$red: #e74c3c;
$green: #27ae60;
$orange: #d35400;
$yellow: #f1c40f;
$pink: #FF43E7;
$lightgrey: #EAEAEA;
$lightgrey2: #d0d0d0;
$gold: #ebbc33;
$gold2: #ffbe00;
$gold-darker: #ffa939;
$color1: $blue;
$error: $red;
$success: $green;

// Using Sass Maps as explained here : https://jonsuh.com/blog/sass-maps/
$social-colors: (facebook: #3b5998, twitter: #43bfe1, dribbble: #ea4c89, github: #171515, google: #db4437, youtube: #c4302b);
.social-link {
  color: $white;
}

@each $social-network,
$social-color in $social-colors {
  .icon-#{$social-network}-with-circle {
    color: $social-color;
  }
}

// Example : <a class="social-link social-link--dribbble">Dribbble</a>

