// ----------------------
// == Colors
// ----------------------

// Graphic chart
$white: #fff;
$grey: #313237;
$grey-t: #535353;
$darkgrey: #18191C;
$black: #000106;
$blue: #029DE0;
$pink: #FF43E7
$color1: $blue;
$error: $red;

// Using Sass Maps as explained here : https://jonsuh.com/blog/sass-maps/
$social-colors: (facebook: #3b5998, twitter: #43bfe1, dribbble: #ea4c89, github: #171515, google: #db4437, youtube: #c4302b);
.social-link {
  color: $white;
}

@each $social-network,
$social-color in $social-colors {
  .icon-#{$social-network}-with-circle {
    color: $social-color;
  }
}

// Example : <a class="social-link social-link--dribbble">Dribbble</a>

